{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>This page is all about me!</h3>

<p2>My name is Pele, and ever since I can remember I have played Nintendo games, one of the franchises I've been introduced to recently is the Pokemon franchise through Pokemon sword and shield on the Nintendo Switch! And in this website I have gathered datasets from over the internet to find the greatest of Pokemon knowledge.</p2>

<p>---------------</p>
<p1>My discord tag: Flypotato#4259</p1>
<!-- The text field -->

<address>
    <strong><mark>Personal email account:</strong>   <a href="mailto:peleraz274@gmail.com">My adress: peleraz274@gmail.com</mark></a><br />
</address>
<img src="\static\images\mii.png" alt="Profile Picture" style="width:150px;height:150x;border:200;">

{% endblock %}
