{% extends "layout.html" %}

{% block content %}

<h2 align="center">{{ title }}</h2>
<h3 align="center">{{ message }}</h3>



<table>
    <tr bgcolor="#ffffff">
        <td align="center"><a href="{{ url_for('types') }}">  Pokemon type dataset  </a></td>
        <td align="center" bgcolor="#0099ff"><img src="\static\images\strong_pokemon.jpg" alt="PokemonStats" style="width:250px;height:150x;border:200;"></td>
        <td align="center">   This dataset contains the types of all Pokemon up to the sixth generation.   </td>
    </tr>
    <tr bgcolor="#ffffff">
        <td align="center"><a href="{{ url_for('stats') }}">  Pokemon stats dataset  </a></td>
        <td align="center" bgcolor="#0099ff"><img src="\static\images\strong_pokemon.jpg" alt="PokemonStats" style="width:250px;height:150x;border:200;"></td>
        <td align="center">   This Dataset has the power statistics of all ~1000 Pokemon from the first generation to the present eigth generation.   </td>
    </tr>
</table>
{% endblock %}
